# Aggregating and Combining `pandas` DataFrames

## Objectives

- Use GroupBy objects to organize and aggregate data
- Create pivot tables from DataFrames
- Combine DataFrames by merging, joining, and concatinating

## Set Up

Surprise, surprise... we're still working with the Austin Animal Center Data! Let's start with Outcomes

In [3]:
# Imports

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [4]:
outcomes = pd.read_csv('data/Austin_Animal_Center_Outcomes_022822.csv',
                       parse_dates=['DateTime', 'Date of Birth'])

/var/folders/bg/67byvjq51g396b14nlsgsw9w0000gn/T/ipykernel_13756/4130278359.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  outcomes = pd.read_csv('data/Austin_Animal_Center_Outcomes_022822.csv',

In [6]:
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,2019-05-08 18:20:00,May 2019,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18 16:02:00,Jul 2018,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16 11:38:00,Aug 2020,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13 17:59:00,Feb 2016,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18 11:47:00,Mar 2014,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [7]:
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137097 entries, 0 to 137096
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         137097 non-null  object
 1   Name              96095 non-null   object
 2   DateTime          137097 non-null  datetime64[ns]
 3   MonthYear         137097 non-null  object
 4   Date of Birth     137097 non-null  datetime64[ns]
 5   Outcome Type      137073 non-null  object
 6   Outcome Subtype   62653 non-null   object
 7   Animal Type       137097 non-null  object
 8   Sex upon Outcome  137095 non-null  object
 9   Age upon Outcome  137092 non-null  object
 10  Breed             137097 non-null  object
 11  Color             137097 non-null  object
dtypes: datetime64[ns](2), object(10)
memory usage: 12.6+ MB

In [8]:
# Let's create our Age in Days column
outcomes['Calculated Age in Days'] = pd.to_datetime(outcomes['DateTime'].dt.date) - outcomes['Date of Birth']

In [9]:
# Grab just the integer here...
outcomes['Calculated Age in Days'] = outcomes['Calculated Age in Days'].dt.days

In [12]:
# Sanity check
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Calculated Age in Days
0,A794011,Chunk,2019-05-08 18:20:00,May 2019,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,736
1,A776359,Gizmo,2018-07-18 16:02:00,Jul 2018,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,371
2,A821648,NaN,2020-08-16 11:38:00,Aug 2020,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,366
3,A720371,Moose,2016-02-13 17:59:00,Feb 2016,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,128
4,A674754,NaN,2014-03-18 11:47:00,Mar 2014,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,6

## Aggregating over DataFrames: `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. (And if you haven't, you'll see it very soon!) Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [10]:
# Just using groupby outputs some weird GroupBy object... not helpful
outcomes.groupby('Animal Type')

Once we know we are working with a type of object, it opens up a suite of attributes and methods. One attribute we can look at is `groups`.

In [11]:
# This returns each group indexed by the group name, e.g. 'Bird',
# along with the row indices of each value

outcomes.groupby('Animal Type').groups

{'Bird': [206, 534, 985, 1027, 1284, 1310, 2220, 2258, 2274, 2417, 2521, 2598, 2712, 2778, 3178, 3379, 3648, 3743, 4003, 4024, 4288, 4702, 4766, 4998, 5063, 5205, 5436, 5656, 5848, 6087, 6236, 6340, 6592, 6682, 7033, 7352, 7428, 7985, 8048, 8315, 8331, 8414, 8538, 8922, 9203, 9448, 9758, 9825, 10103, 10165, 10407, 10657, 10736, 11386, 11616, 11674, 11732, 11765, 11771, 11837, 12205, 12418, 12423, 12451, 12474, 12713, 12902, 12978, 13057, 13063, 13095, 13272, 13317, 13323, 13435, 13474, 13677, 13934, 13950, 13963, 13981, 14108, 14131, 14146, 14193, 15114, 15193, 15543, 15553, 15813, 16022, 16197, 16499, 16866, 17173, 17338, 17390, 17426, 18319, 18359, ...], 'Cat': [0, 4, 7, 8, 10, 11, 14, 15, 16, 17, 18, 20, 24, 26, 34, 37, 49, 54, 56, 66, 67, 68, 70, 75, 78, 80, 83, 84, 89, 90, 92, 94, 95, 97, 98, 102, 113, 115, 116, 117, 118, 120, 122, 126, 139, 141, 142, 145, 147, 148, 151, 152, 156, 157, 158, 164, 167, 168, 170, 171, 176, 178, 184, 191, 192, 194, 200, 202, 203, 207, 209, 212, 215, 219, 223, 226, 227, 230, 238, 240, 245, 246, 251, 254, 255, 257, 261, 266, 267, 268, 273, 274, 275, 278, 279, 281, 282, 285, 288, 290, ...], 'Dog': [1, 3, 5, 6, 9, 12, 13, 21, 22, 23, 25, 28, 29, 30, 31, 32, 35, 36, 38, 39, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 69, 73, 74, 76, 79, 81, 82, 85, 86, 87, 88, 91, 93, 96, 99, 100, 101, 104, 105, 106, 107, 108, 109, 110, 111, 112, 114, 119, 121, 123, 124, 125, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 140, 143, 144, 146, 149, 153, 154, 155, 159, 160, 161, 162, 163, 165, 166, 169, ...], 'Livestock': [2395, 5763, 8413, 10286, 13275, 14428, 20614, 26426, 32095, 38456, 50988, 51860, 77293, 78037, 83520, 98309, 103897, 104154, 107242, 108520, 113321, 117427, 127774, 129632, 131330], 'Other': [2, 19, 27, 33, 40, 44, 53, 71, 72, 77, 103, 150, 172, 177, 185, 235, 243, 263, 280, 298, 344, 406, 411, 412, 422, 479, 506, 526, 544, 572, 580, 581, 605, 608, 633, 638, 711, 717, 725, 736, 743, 765, 811, 838, 841, 861, 867, 886, 896, 926, 949, 1067, 1068, 1074, 1090, 1092, 1165, 1188, 1195, 1203, 1210, 1238, 1245, 1282, 1308, 1348, 1363, 1391, 1409, 1421, 1453, 1464, 1471, 1473, 1476, 1509, 1560, 1595, 1629, 1663, 1676, 1691, 1695, 1742, 1748, 1763, 1778, 1807, 1814, 1837, 1848, 1852, 1858, 1887, 1912, 1928, 1938, 1954, 1956, 1968, ...]}

In [12]:
# Same goes for multi-index groupbys
animal_outcome = outcomes.groupby(['Animal Type', 'Outcome Type'])

In [13]:
# .groups outputs a dictionary, so we can access the group names using keys()
animal_outcome.groups.keys()

dict_keys([('Bird', 'Adoption'), ('Bird', 'Died'), ('Bird', 'Disposal'), ('Bird', 'Euthanasia'), ('Bird', 'Missing'), ('Bird', 'Relocate'), ('Bird', 'Return to Owner'), ('Bird', 'Transfer'), ('Cat', 'Adoption'), ('Cat', 'Died'), ('Cat', 'Disposal'), ('Cat', 'Euthanasia'), ('Cat', 'Missing'), ('Cat', 'Relocate'), ('Cat', 'Return to Owner'), ('Cat', 'Rto-Adopt'), ('Cat', 'Transfer'), ('Cat', nan), ('Dog', 'Adoption'), ('Dog', 'Died'), ('Dog', 'Disposal'), ('Dog', 'Euthanasia'), ('Dog', 'Missing'), ('Dog', 'Return to Owner'), ('Dog', 'Rto-Adopt'), ('Dog', 'Transfer'), ('Dog', nan), ('Livestock', 'Adoption'), ('Livestock', 'Died'), ('Livestock', 'Euthanasia'), ('Livestock', 'Return to Owner'), ('Livestock', 'Transfer'), ('Other', 'Adoption'), ('Other', 'Died'), ('Other', 'Disposal'), ('Other', 'Euthanasia'), ('Other', 'Missing'), ('Other', 'Relocate'), ('Other', 'Return to Owner'), ('Other', 'Rto-Adopt'), ('Other', 'Transfer'), ('Other', nan)])

In [14]:
# We can then get a specific group, such as cats that were adopted
animal_outcome.get_group(('Cat', 'Adoption'))

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Calculated Age in Days
7,A689724,*Donatello,2014-10-18 18:52:00,Oct 2014,2014-08-01,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black,78
8,A680969,*Zeus,2014-08-05 16:59:00,Aug 2014,2014-06-03,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby,63
20,A730621,*Liza,2016-09-10 18:59:00,Sep 2016,2016-05-18,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Calico,115
26,A801106,NaN,2019-08-16 14:05:00,Aug 2019,2019-05-06,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Orange Tabby,102
54,A792258,Vesper,2019-04-10 20:53:00,Apr 2019,2016-09-08,Adoption,NaN,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Tortie,944
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137072,A846689,Coco Chanel,2022-02-26 17:23:00,Feb 2022,2021-08-19,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair,Blue Tabby,191
137073,A845330,Mitzi,2022-02-26 18:09:00,Feb 2022,2021-01-28,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair,Torbie/White,394
137088,A851184,*Papaya,2022-02-28 11:38:00,Feb 2022,2021-02-08,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Orange Tabby/White,385
137090,A847804,*Mahalia,2022-02-28 11:42:00,Feb 2022,2011-12-08,Adoption,NaN,Cat,Spayed Female,10 years,Domestic Shorthair Mix,Brown Tabby/White,3735
137092,A850166,Rainey,2022-01-24 18:20:00,Jan 2022,2021-11-19,Adoption,NaN,Cat,Intact Male,2 months,Siamese,Seal Point,66

## Aggregating

Once again, as we will see in SQL, groupby objects are intended to be used with aggregation. In SQL, we will see that our queries that include GROUP BY require aggregation performed on columns.

We can use `.sum()`, `.mean()`, `.count()`, `.max()`, `.min()`, etc. Find a list of common aggregations [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html).

In [15]:
outcomes.groupby('Animal Type').count()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Sex upon Outcome,Age upon Outcome,Breed,Color,Calculated Age in Days
Animal Type,,,,,,,,,,,,
Bird,636,145,636,636,636,636,380,636,636,636,636,636
Cat,52092,30380,52092,52092,52092,52088,31815,52092,52091,52092,52092,52092
Dog,77091,64516,77091,77091,77091,77076,24590,77089,77089,77091,77091,77091
Livestock,25,3,25,25,25,25,19,25,25,25,25,25
Other,7253,1051,7253,7253,7253,7248,5849,7253,7251,7253,7253,7253

## Exercise

Use `.groupby()` to find the most recent birth date of each (main) animal type.

In [ ]:
# Your code here

<details>
    <summary>Answer</summary>

```python
outcomes.groupby('Animal Type')['Date of Birth'].max()
```
</details>

# Pivoting a DataFrame

## `.pivot_table()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

Grouping by two different columns can be very helpful.

In [16]:
outcomes.groupby(by=['Outcome Type', 'Sex upon Outcome']).agg('mean')

TypeError: Could not convert A808447A697608A681907A706159A812889A778316A786029A797709A781202A705942A759011A798354A737397A728658A810322A750412A771416A703700A814405A684851A727120A791176A758112A803885A827060A727457A815213A732854A665994A785831A730252A733097A705017A731420A770596A725655A787691A684540A706611A797972A795348A805164A751683A810007A784636A707031A751184A751762A750514A692613A774323A727658A737060A709048A808870A713242A684655A683763A730198A717017A715194A732599A741279A703726A706279A786486A670110A744214A839705A716398A732399A728468A738493A794254A733622A736633A819421A840346A733653A822976A774352A664515A703246A702629A719637A663725A760566A713852A714602A828530A739274A775725A705801A785089A667668A801416A751990A802697A764930A738291A707668A842300A773613A809971A682000A752204A805605A785171A804633A724903A808942A554122A712323A678090A682000A694122A806841A837754A725797A737502A734585A840507A746771A841939A706059A729352A794152A802956A809996A774633A727578A727090A740971A713627A683806A753394A713204A817945A675517A736433A747155A797895A713994A763880A783861A764822A684958A731693A741437A778827A684969A690277A736878A734967A773124A768800A809995A808661A719123A713176A762984A725561A819740A710388A732872A774536A809972A772411A825792A728833A797346A707365A698380A795092A676490A675525A839986A819359A789453A809451A806616A690422A826688A840361A739539A748245A802595A753185A835852A751026A779691A796499A664718A786201A669178A731418A728337A802198A681905A810381A779659A704313A751558A802278A706388A784725A724658A774089A764883A736687A698837A719903A840517A706234A709089A818911A734488A706842A727626A668546A797024A695856A736983A680152A833404A716759A810086A726484A728667A751236A794633A662551A726336A836194A779690A786422A700750A741051A824857A746772A668647A801054A838884A807446A834571A756563A710332A788383A773472A805163A707745A719265A806289A783233A801903A834950A840736A709958A743065A835323A670617A714766A710831A831811A781489A834252A750910A680552A795019A807312A755923A751506A841235A704257A715290A787117A725967A787871A796492A759714A796272A703652A764016A740387A739567A694212A704976A786730A724049A729036A773147A716342A828421A733352A805668A837129A819737A807670A728538A812669A692452A799828A741597A684781A794655A708396A808045A782476A728660A809619A712325A806607A724169A835835A843428A684956A801901A730871A774040A822609A692469A708984A822688A789411A700253A777654A715349A826651A779678A839268A755637A733405A733563A674707A751875A732846A685110A832183A742449A785450A783676A673174A681904A728278A842897A812741A682552A733294A835758A709091A794572A803776A733944A832923A669177A802171A749292A795169A700188A740411A722091A727191A725443A842124A762543A661104A798013A762255A802533A754072A710834A784144A659889A736826A722767A766266A807964A820973A728802A818525A806379A610401A773038A781093A734250A681908A773437A729893A736459A837022A777677A781071A734356A770275A801492A697765A805902A732583A813951A664662A680535A747571A749709A662887A730478A824037A764530A840650A726993A841934A839404A789515A681470A841936A754696A693353A771410A727314A758167A665628A722092A714214A796740A779682A781119A690665A733811A757725A722471A785904A710373A709599A810571A753877A685068A803114A667917A778654A679695A732463A706324A762985A804573A671482A793386A722093A703441A824171A731799A705323A741603A772702A779675A795995A702397A734468A723578A723566A728803A697779A809412A749998A759716A705053A797345A732358A766931A696844A764518A747816A742664A708739A741050A705752A681488A666262A783101A751633A713602A695477A690721A746872A732962A712286A784685A687767A669597A812300A680650A751684A732846A801346A735903A718591A801911A751109A778971A705606A700131A760310A756470A712327A805382A746003A709717A688458A718175A770225A669839A734242A680395A753203A709200A717998A681248A674736A742794A671236A792641A765059A746854A762288A732956A840114A843137A811476A667956A733114A742628A755754A685065A750194A775589A726313A807907A797677A750464A809994A812133A689629A843430A789695A729882A804533A733254A837457A755742A776123A776610A675277A771026A773708A698379A809080A726913A716202A781097A713830A752409A677098A808941A818910A733047A805062A746972A843619A757227A772123A667863A733752A747009A833890A797330A810960A707191A705890A706452A756286A748094A688560A686311A672722A729615A680559A688593A840649A820294A667008A752730A753205A783420A685067A839267A783985A755980A683925A827231A707245A726994A774222A728805A726963A683707A783499A781986A728804A751761A762602A706761A804404A772692A734232A748098A756100A665458A732638A807957A840518A660042A786576A725458A667077A767616A721061A726991A750195A753189A803128A768048A804557A840360A725871A786691A800954A838883A792921A785000A734479A732006A820052A717980A783036A713853A755752A737676A736034A752948A781325A796620A783513A813587A795869A682848A688520A704328A685448A729744A755979A733942A675898A707192A749860A742421A774614A753209A774517A799786A741052A746847A733943A669596A687156A695174A693557A812258A698568A803089A740077A798441A684782A743403A841633A733744A759464A711322A840516A798251A833530A841780A748050A688521A800230A723137A756094A787119A704393A674690A680989A716197A794382A750888A803220A751569A841935A728800A807652A760648A803292A719270A712442A738290A719266A798062A740327A753161A789061A757677A684780A732506A683575A700461A792338A823858A738762A812052A801133A772480A740471A813165A707366A740731A742795A803379A750532A681906A726884A686337A781099A791250A669600A833511A783855A730116A797790A804876A731459A803296A736668A715290A725965A742558A779668A752027A790197A669269A671481A750808A749145A702545A795934A674688A808884A747910A769716A811675A751822A803449A799420A685860A755828A746854A666559A732420A742664A782837A668133A765112A734240A703918A766127A751597A705133A800954A806606A677663A752862A803221A704402A713469A694123A687887A757872A682018A812393A734229A840508A801902A723896A761543A734255A758026A758996A791603A706447A738401A756092A741053A753290A750461A709754A773437A725342A716693A731639A736309A781098A828754A693174A840515A737061A755753A843432A807692A732385A706404A726989A706419A742646A831996A680538A668646A610401A756230A756304A771419A841938A735463A758366A806617A798011A757237A702725A713811A806704A769319A779671A774579A728512A804909A689992A726985A702990A665424A803129A823767A729875A749600A842300A666565A774754A807277A843429A751683A754826A724672A671534A720018A788309A756695A759339A667463A713655A797752A782221A706210A710387A828295A709967A809621A800217A709957A797322A812433A751611A784953A779680A820822A716044A685697A825297A777153A787994A803021A684784A813923A727614A726503A836899A741277A737699A723240A778315A799499A743344A587332A774974A750355A738737A666264A825870A797035A739275A801903A772348A834249A667669A729613A688918A809850A714678A741979A839114A727738A814809A786673A792339A723524A735898A785345A728210A812546A732464A781006A809620A753208A779531A817049A749139A841818A841724A736386A701510A748944A749848A789454A680539A772910A727711A759341A800953A756292A752654A697194A736912A764409A821505A779391A712712A739625A774822A753888A750193A749707A795848A755240A840120A751631A725799A812328A780150A751570A724460A754254A692506A680536A678721A840513A729642A760777A708435A707611A795608A774247A779679A688519A667144A752936A729064A751690A715813A807313A770605A794861A714603A731321A726402A731474A781493A773105A751826A692390A773967A719269A840746A835950A725964A681329A737677A686071A698716A779687A786027A732852A796206A732845A737343A684362A686541A751824A780597A754038A790515A782107A693195A733749A780669A730849A734690A684363A679319A707877A688871A810059A669137A756533A732853A803219A818142A842896A669894A679693A717013A780602A760307A687886A735902A709598A749973A781530A707404A724125A772459A758048A804406A728661A716634A717928A726883A797911A829121A729547A799379A723136A819739A775681A720916A808307A742497A779692A727313A704977A684959A819397A784907A782878A753158A823431A719594A804671A802737A749086A785104A773609A668562A758033A741225A745329A736602A668392A754828A726502A772128A756565A751018A756530A764119A797347A729144A719638A794581A736050A794383A751019A797348A822028A736324A751880A808159A708979A695126A772587A736912A767601A739273A820885A705106A678584A774983A820296A746769A771908A777421A709752A780342A759713A752732A819357A717104A786714A781934A743672A729570A843427A727659A792642A811623A778432A706158A704455A725559A774123A805312A765333A785527A465849A801052A758567A772033A705588A814878A820299A682000A749449A837832A764036A816841A791253A724521A733746A679320A711817A742544A820297A772058A733359A710281A781498A762985A754904A732477A807453A730136A771419A679694A773842A841933A707368A691373A798069A732143A804178A759825A731616A730259A805429A789272A820972A763738A750460A756308A701769A786333A738936A737481A730090A786129A836178A711654A692456A810085A782600A811407A784335A747378A680575A808163A701780A750341A755690A803294A692874A797971A779670A802367A669458A734967A784333A819358A696411A756566A787484A725137A706631A738116A832905A805899A723185A815915A685094A811477A779667A810163A662553A810088A773691A813080A802698A788138A807971A832921A781545A708248A841937A728801A776067A759583A711229A773125A806032A830087A756365A713572A770273A762913A748756A715624A727224A730191A786522A759715A758899A807782A795119A663595A734252A706276A797878A698569A733024A783111A781203A740829A717827A741294A746010A674875A783896A696117A703920A796743A678628A734553A746990A811020A708075A844063A843314A843315A837197A840940A838304A842410A843112A844088A845447A841197A842710A842709A845284A844855A843298A844839A844838A845062A844915A844917A842390A841112A842412A841624A847324A838701A825242A847307A847286A848432A848132A847939A841246A844129A848990A849162A849181A848703A849803A841111A849206A842542A849361A850238A850269A850270A850268A850164A845846A850435A850284A850846A844669A850454A851336A851351A847697A849728A847745A847746A842414 to numeric

But it has the unsavory side effect of creating a two-level index. This can be a good time to use `.pivot_table()`.

(There is also a `.pivot()`. For the somewhat subtle differences, see [here](https://stackoverflow.com/questions/30960338/pandas-difference-between-pivot-and-pivot-table-why-is-only-pivot-table-workin).)

In [ ]:
# Check it out!
outcomes.pivot_table(index='Outcome Type', columns='Sex upon Outcome', aggfunc='mean')

# Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`

Many ways to combine dataframes! Luckily, pandas has great docs: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

## `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'MP'])

toy1

In [ ]:
toy2

In [ ]:
# We can't just join these as they are, since we haven't specified our suffixes

toy1.join(toy2)

In [ ]:
toy1.join(toy2, lsuffix='1', rsuffix='2')

If we don't want to keep both, we could set the overlapping column as the index in each DataFrame:

In [ ]:
toy1.set_index('age').join(toy2.set_index('age'))

In [ ]:
toy1.drop('age', axis=1).join(toy2)

## `.merge()`

Or we could use `.merge()`:

In [ ]:
toy1.merge(toy2)

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)
ds_chars

In [ ]:
states = pd.read_csv('data/states.csv', index_col=0)
states

## The `how` Parameter

This parameter in both `.join()` and `.merge()` tells the compiler what sort of join to effect. We'll cover this in detail when we discuss SQL.

![image showcasing how the how parameter in a join/merge would combine the two datasets, using venn-style diagrams](https://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)
[[Image Source]](https://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='outer')

## `pd.concat()`

This method takes a *list* of pandas objects as arguments.

In [ ]:
prefs = pd.read_csv('data/preferences.csv', index_col=0)
prefs

In [ ]:
ds_full = pd.concat([ds_chars, prefs])
ds_full

`pd.concat()`â€“â€“ and many other pandas operations â€“â€“ make use of an `axis` parameter. For this particular method I need to specify whether I want to concatenate the DataFrames *row-wise* (`axis=0`) or *column-wise* (`axis=1`). The default is `axis=0`, so let's override that!

In [ ]:
ds_full = pd.concat([ds_chars, prefs], axis=1)
ds_full

## Back to the Center

We have Intakes data and we have Outcomes data... time to merge!

In [ ]:
# Peek at the outcomes data we already had in here
outcomes.head()

In [ ]:
# Read in the intakes data
intakes = pd.read_csv("data/Austin_Animal_Center_Intakes_022822.csv",
                      parse_dates=['DateTime'])
# Check it out
intakes.head()

In [ ]:
# Let's try merging on Animal ID
combined = outcomes.merge(intakes,
                          on='Animal ID',
                          how='inner',
                          suffixes=['_outcome', '_intake'])

In [ ]:
# What was the result?
combined.head()

In [ ]:
combined.shape

In [ ]:
intakes.shape

In [ ]:
outcomes.shape

Let's discuss/explore: did that work the way we expected?

- 

<details>
    <summary>Observation Notes</summary>

- We went from about 136k rows in each of the dataframes to 176k! Even using an inner join! Something seems off. 
    
    
</details>

In [ ]:
# We might want to try something different
# Can we clean something to make a better merge?
combined.loc[combined.duplicated(subset='Animal ID')]

In [ ]:
# Try again
clean_intakes = intakes.drop_duplicates(subset=['Animal ID'])
clean_outcomes = outcomes.drop_duplicates(subset=['Animal ID'])

In [ ]:
clean_combined_df = clean_intakes.merge(clean_outcomes, on='Animal ID',
                                        how='inner',
                                        suffixes=['_intake', '_outcome'])

In [ ]:
clean_combined_df.head()

# Level Up: Quick Column Name Clean Up Code

Throwing a quick use of a lambda function your way:

In [ ]:
outcomes_renamed = outcomes.rename(columns = lambda x: x.replace(" ", "_").lower())
outcomes_renamed.head()

# Level Up: `pandas.set_option()`

We can adjust how `pandas` works by setting options in advance.

For complete documentation, see [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html).

## Block Scientific Notation

For example, suppose we want to prevent numbers from being displayed in scientific notation.

In [ ]:
df = pd.DataFrame([[1e9, 2e9], [3e9, 4e9]])
df

Then we can use:

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

df

## See More Rows

Or suppose we want `pandas` to show more rows.

In [ ]:
df2 = pd.DataFrame(np.array(range(100)))
df2

In that case we can use:

In [ ]:
pd.set_option('display.max_rows', 100)

df2